.inner {
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 150px 0;
}



.header .inner {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: transparent;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.header.on .inner {
    display: none;
}

.gnb ul {
    display: flex;
    gap: 30px;
    font-size: 23px;
    font-weight: 200;
}


.mobile_btn {
    display: none;
}

.main_visual {
    position: relative;
}


.main_visual .content {
    position: relative;
    background: url(../images/visual1.jpg) no-repeat center center/cover;
    height: 100vh;
}

.main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: 55px;
    font-weight: 200;
    font-family: 'Noto Serif KR';
    z-index: 998;
}

.main_visual .slogan strong {
    font-weight: 600;
}

.main_visual .other {
    color: #ffffffaf;
    font-weight: 300;
}

.main_visual .other i {
    vertical-align: -1px;
}


.main_visual .other .left {
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    transform: translate(0, 50%);
    padding: 0 40px;
    font-size: 18px;
    transition: 0.5s;
}

.main_visual .other .left:hover {
    color: #fff;
    text-shadow: 0 0 20px #fff;
}

.main_visual .other .left i {
    margin: 0 5px 0 0;
}

.main_visual .other .right i {
    margin: 0 0 0 5px;
}


.main_visual .other .right {
    position: absolute;
    display: flex;
    top: 50%;
    right: 0;
    transform: translate(0, 50%);
    padding: 0 40px;
    font-size: 18px;
    transition: 0.5s;
}

.main_visual .other .right:hover {
    color: #fff;
    text-shadow: 0 0 20px #fff;
}




.main_visual .scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
}

.main_visual .scroll span {
    position: relative;
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.main_visual .scroll i {
    color: #fff;
    font-size: 23px;
    transform: translate(0, 0);
    animation: scr 2s infinite;
}




@keyframes scr {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 80%);
    }

    100% {

        transform: translate(0, 0);
    }
}

.main_content .content {
    position: relative;
    background: url(../images/visual2.jpg)no-repeat center center/cover;
    height: 450px;
    width: 1000px;
    border-radius: 0 80px 0 80px;
}

.main_content .content .img_box {
    position: absolute;
    display: flex;
    gap: 80px;
    top: 45%;
    left: 15%;
    width: 900px;
    height: 390px;
}

.main_content .content .txt {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #e9f3f5;
    border-radius: 2px;
    padding: 35px 25px 50px 25px;
    margin: 55px 0;
    justify-content: center;
}

.main_content .content .txt::before {
    content: "";
    position: absolute;
    top: -6%;
    left: -2%;
    width: 50px;
    height: 50px;
    border-top: 15px solid #0753e0;
    border-left: 15px solid #0243bf;
}

.main_content .content .txt::after {
    content: "";
    position: absolute;
    bottom: -3%;
    right: -2%;
    width: 50px;
    height: 50px;
    border-bottom: 15px solid #0243bf;
    border-right: 15px solid #0753e0;
}

.main_content .content .txt h2 {
    font-size: 15px;
    margin: 0 0 8px 0;
    padding: 0 0 0 4px;
}

.main_content .content .txt strong {
    font-size: 28px;
    font-weight: 700;
    color: #005eb8;
    margin: 0 0 12px 0;
}

.main_content .content .txt p {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3;
}

.main_content .content .txt a {
    position: absolute;
    bottom: 15%;
    right: 28px;
    color: #fff;
    font-size: 17px;
    padding: 8px 18px 10px 18px;
    border-radius: 40px;
    background: linear-gradient(to right, #2185e2, #0243bf);
}




.main_cf {
    padding: 150px 0 0 0;
}

.main_cf .content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(../images/parang.png) no-repeat center right/cover;
    height: 750px;
    padding: 75px 0 0 100px;
}

.main_cf .content .list {
    display: flex;
    gap: 10px;
    font-size: 24px;
    font-weight: 300;
}

.main_cf .content .list li {
    padding: 10px 20px;
    border-radius: 15px 15px 0 0;
    background: #005fb89c;
    color: #fff;

}


.main_cf .content .list li.on {
    background: #fff;
    color: #444;
}

.main_cf .content .cf li {
    justify-content: center;
    background: #fff;
    border-radius: 0 10px 10px 10px;
    width: 860px;
    height: 0;
    overflow: hidden;
}

.main_cf .content .cf li.on {
    height: 100%;
    padding: 25px 30px;
}

.main_cf .more {
    position: absolute;
    bottom: 29.5%;
    right: 32%;
    height: 80px;
    width: 300px;

}


.main_cf .more .txt {
    font-size: 24px;
    font-weight: 800;
    background: #ffffff2c;
    padding: 10px 15px 12px 15px;
    border-radius: 15px 15px 0 0;
    transition: 0.5s;
}

.main_cf .more:hover .txt {
    background: #ffffffc9;
}

.main_cf .more .txt p {
    text-align: center;
    background: linear-gradient(to right, #2185e2, #0243bf);
    color: transparent;
    -webkit-background-clip: text;
}

.main_cf .more figure {
    border-radius: 0 0 20px 20px;
    background: #ffffff2c;
    padding: 10px 15px 15px 15px;
    overflow: hidden;
}

.main_cf .more img {
    border-radius: 10px;
    transition: 0.2s;
}

.main_cf .more:hover img {
    transform: scale(1.2);
}


.main_app .content {
    display: flex;
    gap: 80px;


}

.main_app .content .img_box {
    display: flex;
    gap: 15px;
}

.main_app .content img {
    height: 650px;
    width: 425px;

    border-radius: 20px 0 20px 0;
}

.main_app .content .txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 750px;
}

.main_app .content .txt::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2%;
    width: 70px;
    height: 70px;
    border-top: 15px solid #0753e0;
    border-left: 15px solid #0243bf;
}

.main_app .content .txt::after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: -6%;
    width: 70px;
    height: 70px;
    border-bottom: 15px solid #0243bf;
    border-right: 15px solid #0753e0;
}

.main_app .content .txt h2 {
    font-size: 47px;
    font-weight: 800;
    color: #005eb8;
    text-align: center;
    margin: 0 0 30px 0;
}

.main_app .content .txt ul {
    margin: 0 0 30px 0;
}

.main_app .content .txt li {
    position: relative;
    font-size: 28px;
    padding: 0 0 0 25px;
    margin: 0 0 35px 0;
}

.main_app .content .txt li::before {
    content: "\eba9";
    font-size: 25px;
    font-family: 'xeicon';
    position: absolute;
    top: 18px;
    left: 5px;
    transform: translate(-50%, -50%);

    color: #0243bf;

}

.main_app .content .txt span {
    font-weight: 600;
    color: #333;
}

.main_app .content .btn {
    display: flex;
    gap: 50px;
}

.main_app .content .btn a {
    background: linear-gradient(to right, #2185e2, #0243bf);
    color: #fff;
    font-size: 18px;
    padding: 17px 25px 19px 25px;
    border-radius: 20px;
    align-items: center;

}

.main_app .content .btn i {
    position: relative;
    font-size: 22px;
    padding: 0 20px 0 0;
    vertical-align: -1px;
}


.main_app .content .btn i::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 9px;
    width: 1px;
    height: 42px;
    background: #ffffffaf;
}

.footer {
    background: #f9f9f9 url(../images/logo02.png) no-repeat calc(100% - 50px);
    padding: 30px 0;
}

.footer .content {
    display: flex;
    color: #555;
}

.footer .content .list ul {
    display: flex;
    gap: 20px;
    width: 850px;
    margin: 0 0 15px 0;
}

.footer .content .list li~li {
    position: relative;
}

.footer .content .list li~li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 1px;
    margin: 4px 0 0 -10px;
    background: #999;
}

.footer .content .list .customer {
    font-weight: 500;
}

.footer .content .address ul {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.footer .content .address .copy {
    color: #777;
    font-weight: 300;
}






@media (max-width:540px) {
    .header .inner {
        margin: 0;
        width: 375px;
    }

    .header.on .inner {
        display: none;
    }

    .header h1 {
        z-index: 1000;
    }

    .header h1 img {
        height: 60px;
    }

    .header.on .mobile_btn {
        display: none;
    }


    .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background: url(../images/visual1.jpg)no-repeat;
        transition: 0.5s;
    }

    .gnb.on {
        left: 0;
    }


    .gnb ul {
        flex-direction: column;
        gap: 20px;
        padding: 200px 20px 0 20px;
        font-weight: 400;
    }

    .gnb ul>li {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #fff;

    }

    .mobile_btn {
        display: block;
        position: fixed;
        top: 25px;
        right: 3%;
        z-index: 1000;
    }

    .mobile_btn.on i {
        display: none;

    }

    .mobile_btn.on::before {
        content: "\e921";
        font-family: xeicon;
        position: absolute;
        display: block;
        top: 25px;
        right: -10px;
        transform: translate(-50%, -50%);
        z-index: 1001;
        padding: 5px;
        font-size: 25px;
        color: #fff;
    }

    .mobile_btn i {
        padding: 10px;
        font-size: 30px;
        color: #fff;

    }

    .main_visual .slogan {
        top: 45%;
        font-size: 37px;
        width: 350px;
        line-height: 1.7;

    }

    .main_visual .slogan strong {
        font-size: 60px;
    }

    .main_visual .other {
        color: #ffffffc9;
        font-weight: 300;
    }

    .main_visual .other i {
        vertical-align: -1px;
    }


    .main_visual .other .left {
        top: 60%;
        left: 15%;
        padding: 0 20px;
    }

    .main_visual .other .right {
        top: 60%;
        right: 15%;
        padding: 0 20px;
    }

    .main_visual .scroll {
        display: none;
    }



    .main_content .content {
        width: 350px;
        height: 360px;
        border-radius: 0 30px 0 30px;
    }

    .main_content .content .img_box {
        flex-direction: column;
        gap: 0;
        top: 25%;
        left: 5%;
        width: 100%;
    }

    .main_content .content .img_box img {
        width: 200px;
    }


    .main_content .content .txt {
        position: absolute;
        top: 50%;
        left: 10%;
        padding: 25px 25px 45px 25px;
        word-break: keep-all;
    }


    .main_content .content .txt p {
        font-size: 18px;
        margin: 0 0 15px 0;
    }

    .main_content .content .txt a {
        bottom: 5%;
        right: 25px;
    }

    .main_cf .content {
        background: url(../images/parang.png) no-repeat center center/cover;
        height: 870px;
        padding: 50px 20px 50px 20px;
        display: block;
    }

    .main_cf .content .list {
        font-size: 18px;
    }

    .main_cf .content .list li {
        padding: 8px 12px;
        border-radius: 10px 10px 0 0;
    }

    .main_cf .content .cf iframe {
        width: 100%;
        height: 400px;
    }

    .main_cf .content .cf li {
        border-radius: 0 5px 5px 5px;
        width: 100%;
        padding: 0 50px 0 0;
    }

    .main_cf .content .cf li.on {
        height: 100%;
        padding: 20px;
    }

    .main_cf .more {
        position: relative;

        padding: 25px 0 0 0;
        width: 100%;
        top: 0;
        left: 0;
    }


    .main_cf .more .txt {
        border-radius: 10px 10px 0 0;
    }


    .main_cf .more figure {
        border-radius: 0 0 10px 10px;
        padding: 5px 15px 15px 15px;
    }

    .main_cf .more img {
        border-radius: 5px;
        width: 100%;
        height: 210px;
    }


    .main_app .content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .main_app .content .img_box {
        gap: 5px;
    }

    .main_app .content img {
        height: 350px;
        width: 400px;
        border-radius: 10px 0 10px 0;
    }

    .main_app .content .txt {
        gap: 20px;
        width: 100%;
        word-break: keep-all;
        line-height: 1.2;

    }

    .main_app .content .txt::before {
        display: none;
    }

    .main_app .content .txt::after {
        display: none;
    }

    .main_app .content .txt h2 {
        font-size: 35px;
        font-weight: 800;
        color: #005eb8;
        text-align: center;
        margin: 0 0 15px 0;
    }

    .main_app .content .txt ul {
        margin: 0 0 10px 0;
    }

    .main_app .content .txt li {
        position: relative;
        font-size: 24px;
        padding: 0 0 0 20px;
        margin: 0 0 25px 0;
    }

    .main_app .content .txt li::before {
        content: "\eba9";
        font-size: 20px;
        font-family: 'xeicon';
        position: absolute;
        top: 14px;
        left: 5px;
        transform: translate(-50%, -50%);

        color: #0243bf;

    }

    .main_app .content .btn {
        flex-direction: column;
        gap: 20px;
    }

    .main_app .content .btn a {
        background: linear-gradient(to right, #2185e2, #0243bf);
        color: #fff;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;
    }

    .main_app .content .btn i {
        font-size: 20px;
        padding: 0 20px 0 0;
        vertical-align: -1px;
    }


    .main_app .content .btn i::after {
        content: "";
        position: absolute;
        top: -6px;
        right: 9px;
        width: 1px;
        height: 33px;
        background: #ffffffaf;
    }


    .footer {
        background: #f9f9f9;
        padding: 30px 0;
    }

    .footer .content {
        display: flex;

        color: #555;
    }

    .footer .content .list ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 350px;
        font-size: 15px;
        margin: 0 0 10px 0;
    }

    .footer .content .list li {
        padding: 0 1px;
    }

    .footer .content .list li~li {
        position: relative;
    }

    .footer .content .list li~li::after {
        display: none;
    }

    .footer .content .list .customer {
        font-weight: 500;
    }

    .footer .content .address ul {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #ddd;
        font-size: 15px;
    }

    .footer .content .address .copy {
        color: #777;
        font-size: 14px;
        font-weight: 300;
    }
}